@media screen and (min-width: 700px) {
    .waves {
      height:45px;
      min-height:45px;
    }
    .content {
      height:30vh;
    }
    h1 {
      font-size:30px;
    }

    span a{
      font-size: medium;
      margin-right: 30px;
    }
  }