@media screen and (min-width: 400px) {
    .waves {
      height:40px;
      min-height:40px;
    }
    .content {
      height:30vh;
    }

    /* homepage image */
    .box {
      padding: 20px;
    }
    .me{
      height: 150px;
      width: 120px;
      margin-top: -50px;
    }
    .pull {position:relative; 
      margin: 20px; 
      padding: 20px; 
      width:50px; 
      height:40px; 
      color: #FFF; 
      border-radius: 10px; 
      background-color: #000;
      top: -100px;
    }
    
    .date {
      width: 30%;
      border-bottom: 1px solid #000;
      margin-bottom: 10px;
    }
    
    .pages {
      margin: 30px;
    }

    /* logo */
    div h1{
      display: none;
      margin-top: 50px;
    }

    span a{
      font-size: small;
      margin-right: 10px;
    }
}


