
.discover_title {
    text-align: center;
}
.galery_container {
    display: flex;
    flex-direction: column;
}


.main_discover {
    max-width: 1600px;
}

.loader{
  width: 250px;
  height: 250px;
}
.column {
    gap: 10px;
    display: flex;
    flex-direction: column;
}
.galery_container {
    margin-top: 30px;
    margin-left: 20px;
    margin-right: 20px;

}

.image_description {
    position: relative;
    bottom: 0px;
    background-color: black;
    opacity: 1;
    width: 100%;
    border-radius: 10px 10px 10px 10px;
    
   
}
.image_description p {
    color: white;
    padding: 20px;
}
@keyframes shine {
    from {
        background-position: -10%;
    }
    to {
        background-position: 120% 0%, 50% 0%;
    }
}


@media screen and (min-width:400px) {
    .image_container:hover {
        transform: scale(1.1);
        transition: transform 330ms ease-in-out;
        z-index: 1;
    }
    .image_container:not(hover) {
        transform: scale(1);
        transition: transform 330ms ease-in-out;
        
    }

    .image_description {
      display: none;
  }
  .image_description p {
      color: black;
      padding: 20px;
  }
  .image_container:hover .image_description {
      display: block;
      position: absolute;
      bottom: 0px;
      background-color: #CCD5AE;
      opacity: 1;
      width: 100%;
      height: fit-content;
      border-radius: 10px 10px 10px 10px;
  }
}





@media  screen and (min-width:1100px) {
    main {
        grid-template-columns: 20% 1fr 20%;
        grid-template-rows: 1fr 1fr 1fr;
    }
    .image_container:hover {
        transform: scale(1.1);
        transition: transform 330ms ease-in-out;
        z-index: 1;
    }
    .image_container:not(hover) {
        transform: scale(1);
        transition: transform 330ms ease-in-out;
    }
    
    .galery_container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .column {
        width: 32.3%;
      
    }
    .image_description {
        display: none;
    }
    .image_description p {
        color: black;
        padding: 20px;
    }
    .image_container:hover .image_description {
        display: block;
        position: absolute;
        bottom: 0px;
        background-color: #CCD5AE;
        opacity: 1;
        width: 80%;
        height: fit-content;
        border-radius: 10px 10px 10px 10px;
    }
}