.life{
    display: inline-grid;
    margin: 10px;
}

.lifeTable {
    display: none;
    margin-left: auto;
    margin-right: auto;
}

table{
    border: 1px solid;
    width: fit-content;
}

tr:nth-child(even){
    background: whitesmoke;
}

tr:nth-child(odd){
    background: lightblue;
}